@import 'Reuse/universal.css';
@import 'Reuse/bottom_panel.css';
@import 'Reuse/navigation_panel.css';

h2 {
    margin-bottom: 10px;
}

/* Size displaying option */

#parent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 60%;
    max-width: 1000px;
    min-width: 780px;
    margin-top: -7vh;
}

#parent img {
	width: 250px;
	height: 100%;
	margin-bottom: 10px;
    border-radius: 10px;
}

.select {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.select > a {
	background-color: rgb(184, 217, 220);
	padding: 10px 10px;
	border-radius: 10px;
	border: 2px solid #424242;
}
