@import 'Reuse/universal.css';
@import 'Reuse/contact_hor.css';

/* Navigation panel */

#navigation_panel {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 0px 10px 10px;
	border: 2px solid #424242;
	padding: 10px 10px;
	width: 60%;
	position: absolute;
	top: 0;
	background-color: rgb(242, 226, 140);
}

#navigation_panel div {
	display: flex;
	align-items: center;
}

#navigation_panel img {
	width: 40px;
}

/* Base displaying option */

#parent {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
}

#base_displaying_panel {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#base_displaying_panel> div {
	margin-top: 20px;
}

.name_pricetag {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 250px;
}

.base_info {
	display: flex;
}

.base_info > img{
	width: 250px;
	height: 100%;
	margin-right: 10px;
	border-radius: 10px;
}

.more_details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
}

.more_details > div > strong {
	color: rgb(40, 189, 40);
}

.select {
	display: flex;
	align-items: center;
}

.select > a {
	margin-right: 10px;
	background-color: rgb(184, 217, 220);
	padding: 10px 10px;
	border-radius: 10px;
	border: 2px solid #424242;
}
