@import 'Reuse/universal.css';
@import 'Reuse/contact_hor.css';
@import 'Reuse/navigation_panel.css';

h2 {
    margin-bottom: 10px;
}

/* Size displaying option */

#parent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60%;
    max-width: 1000px;
    min-width: 780px;
    margin-top: -7vh;
}

#parent img {
	width: 250px;
	height: 100%;
	margin-bottom: 10px;
    border-radius: 10px;
}

.select {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.select > a {
	background-color: rgb(184, 217, 220);
	padding: 10px 10px;
	border-radius: 10px;
	border: 2px solid #424242;
}
