@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
	font-size: 100%;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	background: #ffecd9;
	color: #424242;
	font-family: 'Raleway', Sans-serif;
}

a {
	text-decoration: none;
	color: #424242;
}

h1 {
	font-size: 50px;
}

strong {
	font-size: 20px;
}

#timeoption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 40px;
	margin: 10px 0 50px 0;
}

#timeoption_now {
	border-radius: 10px;
	border: 2px solid #424242;
	padding: 10px 10px;
}

#timeoption a:nth-child(2) {
	margin-left: 20px;
}

#timeoption_later {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 10px 10px;
	border-radius: 10px;
	border: 2px solid #424242;
}

#timeoption_later img {
	width: 25px;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 200px;
	margin-bottom: 10px;
}

label {
	font-size: 25px;
	margin-bottom: 5px;
}

#zip,
#time {
	border-radius: 3px;
	font-size: 15px;
	width: 200px;
	height: 20px;
}

#time {
	border-radius: 3px;
}

#sub_button_anchor {
	position: absolute;
	bottom: 150px;
}

#sub_button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 10px;
	border: 2px solid #424242;
	padding: 10px 10px;
}

#sub_button strong {
	margin-right: 10px;
}

/* Top left logo */
#logo {
	-ms-flex-item-align: start;
	align-self: flex-start;
	left: 0;
	top: 0;
	position: absolute;
}

/* Contact */
#contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 120px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgb(220, 220, 220);
	border-radius: 10px 10px 0 0;
	-webkit-box-shadow: 0 0 15px rgb(146, 146, 146);
	box-shadow: 0 0 15px rgb(146, 146, 146);
}

#contact div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#contact img {
	width: 50px;
	margin: 0 5px;
}
