@import 'Reuse/universal.css';
@import 'Reuse/contact_ver.css';

/* Options */
.box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 10px;
	width: 30%;
	min-width: 210px;
	max-width: 350px;
	padding: 10px 0;
}

.box:hover {
	background: #e5e5e5;
	-webkit-box-shadow: inset 0px 0px 5px black;
	box-shadow: inset 0px 0px 5px black;
	outline: none;
}

.box:nth-child(1) {
	background-color: #fee699;
}

.box:nth-child(2) {
	background-color: #bdd7ee;
}

.box:nth-child(3) {
	background-color: #f4b193;
}

.box img {
	width: 90px;
}

.box a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-decoration: none;
	color: #424242;
}

#selection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 30%;
	width: 60%;
	margin: 100px 0;
}

/* Hamburger top right */
.hamburger {
	padding: 15px;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	background-color: transparent;
	right: 10px;
	top: 10px;
	position: absolute;
}
.hamburger__container {
	width: 36px;
	height: 24px;
	position: relative;
}
.hamburger:hover .hamburger__inner {
	-webkit-transform: translate(-51px, 50%);
	    -ms-transform: translate(-51px, 50%);
	        transform: translate(-51px, 50%);
	opacity: 0;
}
.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
	-webkit-transform: translate(102px, 0);
	    -ms-transform: translate(102px, 0);
	        transform: translate(102px, 0);
	opacity: 0;
}
.hamburger.is-active .hamburger__inner {
	display: none;
}
.hamburger__inner {
	width: 100%;
	height: 2px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	top: 50%;
	-webkit-transform: translate(5px, -50%);
	    -ms-transform: translate(5px, -50%);
	        transform: translate(5px, -50%);
	opacity: 1;
}
.hamburger__inner::before,
.hamburger__inner::after {
	width: 100%;
	height: 2px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	content: '';
	opacity: 1;
	-webkit-transform: translate(-5px, 0);
	    -ms-transform: translate(-5px, 0);
	        transform: translate(-5px, 0);
}
.hamburger__inner::before {
	top: -13px;
}
.hamburger__inner::after {
	top: 13px;
}
.hamburger:hover .hamburger__hidden {
	opacity: 1;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	        transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
	opacity: 1;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
	-webkit-transform: translate(0, 13px) rotate(90deg);
	    -ms-transform: translate(0, 13px) rotate(90deg);
	        transform: translate(0, 13px) rotate(90deg);
	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;
	-webkit-transform: translate(0, -13px) rotate(0);
	    -ms-transform: translate(0, -13px) rotate(0);
	        transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
	opacity: 0;
	width: 100%;
	height: 2px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	background-color: #000;
	top: 50%;
	-webkit-transform: translate(51px, -50%);
	    -ms-transform: translate(51px, -50%);
	        transform: translate(51px, -50%);
}
.hamburger__hidden::before,
.hamburger__hidden::after {
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	background-color: #000;
	content: '';
	-webkit-transform: translate(102px, 0);
	    -ms-transform: translate(102px, 0);
	        transform: translate(102px, 0);
}
.hamburger__hidden::before {
	top: -13px;
}
.hamburger__hidden::after {
	top: 13px;
}

/* Pop up from hamburger */
.black_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.content {
	display: none;
	position: fixed;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border-radius: 10px;
	width: 300px;
	height: 100px;
	background-color: #ffecd9;
	z-index: 1002;
	overflow: auto;
}

.content a:nth-child(1) {
	font-size: 30px;
	color: rgb(21, 158, 208);
	margin-bottom: 15px;
	text-decoration: none;
	border-bottom: 2px solid rgb(21, 158, 208);
}

.content a:nth-child(2) {
	color: rgb(255, 146, 146);
	text-decoration: none;
	border-bottom: 2px dashed rgb(228, 142, 49);
}
