@import 'Reuse/universal.css';
@import 'Reuse/bottom_panel.css';
@import 'Reuse/navigation_panel.css';

h2 {
	margin-bottom: 10px;
}

/* Topping displaying option */

#parent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 60%;
	max-width: 1000px;
	min-width: 780px;
	margin-top: -7vh;
}

#parent img {
	width: 100px;
	height: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
}

#parent > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#parent > div > strong {
	margin-bottom: 10px;
}

#parent > div > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 72px;
	background-color: rgb(184, 217, 220);
	padding: 10px 10px;
	border-radius: 10px;
	border: 2px solid #424242;
}
